.span1 {
    font-size: 30px;
}
.span2 {
    font-size: 90px;
}
.span3 {
    font-size: 100px;
}
.span4 {
    font-size: 25px;
}
.span5 {
    font-size: 40px;
}
.span6 {
    font-size: 20px;
}
.span7 {
    font-size: 45px;
}
.span8 {
    font-size: 30px;
}
.span9 {
    font-size: 35px;
}
.span10 {
    font-size: 50px;
}
